/*
	@author: Thomas Frickh
	Allgemeine Font und Background-Color
*/
html{
    height: 100%;
}
body{
	font-family:'Arial';
	background-color:#f6f6f6;
    height: 100%;
}
/*
	@auhtor: Thomas Frickh
	Login-Feld
*/
#div_login_form{
	background-color:white;
	border-radius:10px;
	width:850px;
	height:500px;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	padding:10px;
	color:grey;
}
/*
	@author: Thomas Frickh
*/
#div_login_form table{
	margin-left:auto;
	margin-right:auto;
}
/*
	@author: Thomas Frickh
	Navigationsleiste (links)
*/
#div_navigation_form{
	width:15%;
	height:100%;
	background-color:white;
	border-radius:2px;
	margin: 8px;
	float:left;
	color:grey;
	padding-left:10px;
	padding-right:10px;
    min-width: 200px;
    

}
/*
	@author: Thomas Frickh
	Content (rechts)
*/
#div_content_form{
	background-color:#e9e9e9;
	margin-top:8px;
    height: 100%;
	width:83.85%;
    
}
/*
	@author: Thomas Frickh
	Links in der Navigationsbox
*/
.div_links_navigation{
	height:44.5px;
	border-radius:4px;
	padding-left:5px;
	padding-top:5px;
	margin-top:4px;
	margin-bottom:4px;
	font-size:20px;
	transition: 0.3s;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.div_links_navigation:hover{
	background-color:#e9e9e9;
	transition: 0.4s;
}
.td_text_bilder{
	padding-left:8px; 
	padding-top:7px;
}
.td_bilder{
	padding-top:4.5px;
}
/*
	@author: Thomas Frickh
	Link "Curriculum" keine besonderen Effekte zuweisen bei Event-Call
*/
#div_navigation_form h1 a:active, #div_navigation_form h1 a:hover, #div_navigation_form h1 a:visited, #div_navigation_form h1 a:link{
	text-decoration:none;
	text-underline:none;
	color:grey;
}
/*
    @author: Thomas Frickh
    Ausbildungszweige Div
*/
#div_ausbildungszweige{
    width: 1232px;
    height: 500px;
    margin: auto;
    margin-top: 100px;
}

.div_zweige{
    width: 300px;
    height: 500px;
    float: left;
    margin: 4px;
    border-radius: 5px;
    background-color: white;
}
.div_zweig_name{
    height:50px;
    border-bottom: 1px solid #ededed;  
    text-align: center;
    padding-top:10px;
    font-size: 20px;
    color: grey;
    background-color: #fcfcfc;
    border-radius: 5px;
}
.div_zweig_name:hover{
    background-color: #f6f6f6;
}
.div_zweig_beschreibung{
    height: 400px;
    margin-left: 5px;
    margin-right: 5px;
    color: grey;
    overflow: auto;
}
.div_zweig_hauptzweig{
    height: 50px;
    border-top: 1px solid #ededed;
    margin-left: 5px;
    margin-right: 5px;
    padding-top:10px;
    font-size: 20px;
    color: grey;
    text-align: center;
}
/*
    @author: Thomas Frickh
    Für kleinere Bildschirme
*/
@media only screen and (max-width: 1500px) {
    .div_links_navigation{
        font-size: 15px;
    }
    #div_navigation_form h1{
        font-size: 25px;
    }
    .div_content_form{
        width:83.25%;
    }
}

#div_links_ikf a:hover,#div_links_ikf a:visited,#div_links_ikf a:link,#div_links_ikf a:active {
    color: grey;
}@media only screen and (max-width: 1500px) {
    .div_links_navigation{
        font-size: 15px;
    }
    #div_navigation_form h1{
        font-size: 25px;
    }
    .div_content_form{
        width:83.25%;
    }
}

.top-nav>li>a {
    color:white;   
}